.Komponens {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    width: 100%;
    
    
  }
  
  nav {
    margin-left: 80px;
    
  }
 
  li  > a {
    color: white;
  }
 


  @media (max-width: 768px) {
    .Komponens {
      padding: 20px;
      width: 90%; 
    }
  }
  
  @media (max-width: 480px) {
    .Komponens {
      padding: 15px;
      width: 100%;
    }
  }