.Komponens {
  color: white;
  background-image: url("../../../provider.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  padding: 20px;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

.Komponens::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.274); /* Dark overlay */
  z-index: -1;
}

.kartyak {
  color: rgb(255, 255, 255) !important;
}

.content {
  margin-top: 60px;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.cim {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 30px;
  color: #fafafa;
  text-shadow: 2px 3px #030303;
  text-align: center;
}

.contactGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  width: 100%;
  max-width: 1900px;
}

.contactCard {
  background: rgba(92, 91, 91, 0.733); /* Semi-transparent white for the background */
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.295);
  transition: transform 0.3s ease-in-out;
}

.contactCard:hover {
  transform: translateY(-5px);
}

.kartyak h5 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.kartyak p {
  font-size: 1rem;
  color: #ffffff;
  text-shadow: 2px 2px #030303;
}
