.Komponens {
    color: white;
    background-image: url("../../../provider.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    padding: 20px;
    min-height: 100vh;
    position: relative; /* ez kell */
    z-index: 1; /*ez is */
    
}
.Komponens::before {
  content: ""; /* pseudo elem  */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2); /* sötétítés mértéke */
  z-index: -1;
}


.content {
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
}

.cim {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 3px #030303;
    margin-bottom: 2rem;
    text-align: center;
}

.noReviews {
    font-size: 1.2rem;
    color: #ffffff;
    text-align: center;
}

.reviewGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
    width: 100%;
    max-width: 1000px;
}

.card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.cardBody {
    text-align: center;
}

.cardTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: white;
    text-shadow: 2px 3px #030303;
}

.cardText {
    font-size: 1rem;
    color: #ffffff;
    text-shadow: 2px 2px #030303;
}


.NoReview {
    font-size: 30px;
    color: rgb(0, 248, 62);
    border-radius: 12px;
    font-weight: 700;
    margin-bottom: 30px;
    text-shadow: 2px 2px #030303;
    text-align: center;

    /* Halvány szürke háttér */
    background-color: rgba(44, 43, 43, 0.5); /* Halvány szürke háttér */
    padding: 15px; /* A háttér ne érjen közvetlenül a szöveghez */
}
