.Komponens {
    color: white;
    background-image: url("../../../fadedforcontact.jpg");
    background-size: 100%;
    
}

.kartyak {
  color: black !important;
}

  .content {
    margin-top: 60px; 
  }
  