.Komponens {
    color: white;
    background-image: url("../../../fadedforreviews.jpg");
    background-size: 100%;
}

.content {
    margin-top: 60px;  
  }
  
  .cim {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 30px;
    color: #fafafa;
    text-shadow: 2px 3px #030303;
}